#cdrnn-body ::-webkit-scrollbar-thumb {
    background-color: #2186f4;
}

#side-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 30vw;
    display: inline-block;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 9;
}

#update {
    color: #FFFFFF;
    display: block;
    float: left;
    height: 5vh;
    width: 100%;
    background-color: #2186f4;
    border: none;
    border-radius: 0px;
}

#update:hover {
    background-color: #1a67ba;
}

#cdrnn-settings {
    height: 95vh;
    width: 100%;
    display: block;
    float: left;
    overflow: scroll;
}

#cdrnn-settings-inner {
    padding: 1rem;
}

#viewport-wrapper {
    display: inline-block;
    vertical-align: top;
    height: 100vh;
    width: 70vw;
    float: right;
}

#viewport-wrapper > div {
    visibility: visible !important;
}

#cdrnn-body .rc-slider-track {
    background-color: #2186f4;
}

#cdrnn-body .rc-slider-handle {
    border-color: #2186f4;
}

input[type=text], [type=number], [type=dropdown] {
    width: 100%;
}

