#cdrnn-body ::-webkit-scrollbar-thumb {
    background-color: #015BB0;
}

#cdrnn-settings {
    height: 90vh;
    width: 30vw;
    display: inline-block;
    float: left;
    overflow: scroll;
}

#cdrnn-settings-inner {
    padding: 1rem;
}

#viewport-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 70vw;
    float: right;
}

#cdrnn-body .rc-slider-track {
    background-color: #015BB0;
}

#cdrnn-body .rc-slider-handle {
    border-color: #015BB0;
}

#cdrnn-body input {
    width: 100%;
}
